body {
  font-family: 'Inconsolata', monospace;
    font-size: 16px;
    line-height: 1;
  }
  
  .text {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 2px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: transparent;
    border-radius: 0;
   border-bottom: 10px solid #77dd77;
  }
 
  .description{
    white-space: pre-wrap;
  } 
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 50px;
    border-top: 1px solid white;;
  }
  
  .slots {
    background-color: #ffffff;
    color: #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }

  #clearTasks {
   margin-left: 38%;
   margin-top: 10px;
  
  }
  
  .btn {
    border-left: 0px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .btn i:hover {
    font-size: 14px;
    transition: all .3s ease-in-out;
  } 
  